{% extends "layout.html" %}
{% block body %}

<h1>Profile: {{corner}}</h1>

{% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <p class=error><strong>Error:</strong> {{ error }}</p>
</div>
{% endif %}



<div class="container">
	<h2>Interests</h2>
		<form role="form" method = "post">
		<div class="form-group">
		<div id="channels" class="span12">
		<div class="btn-group">
		{% for interest in interests %}
		  <button class="btn btn-primary" type="submit" name=cinterest value={{interest}}>{{interest}}</button>
		{% endfor %}
		</div></div>
		</div>
		</form>
		</br>
		<div class="col-md-2">
			<form role="form" method = "post">
			
			  <div class="form-group">
			   <label for="newInterest">New Interest:</label>
			   <input type="text" class="form-control" id="newInterest" placeholder="Enter new interest" name=newInterest>
			  </div>
			  
			  <button type="submit" class="btn btn-default">Add!</button>
			</form>
		</div>
</div>

<div class="container">
		
		<h2>Friends</h2>
		<form role="form" method = "post">
		<div class="form-group">
		<div id="channels" class="span12">
		<div class="btn-group">
		{% for friend in friends %}
		  <button class="btn btn-primary" type="submit" name=cfriend value={{friend}}>{{friend}}</button>
		{% endfor %}
		</div></div>
		</div>
		</form>
		</br>
		<div class="col-md-2">
			<form role="form" method = "post">
			
			  <div class="form-group">
			   <label for="newFriend">New Friend:</label>
			   <input type="text" class="form-control" id="newFriend" placeholder="Enter new friend username" name=newFriend>
			  </div>
			  
			  <button type="submit" class="btn btn-default">Add!</button>
			</form>
		</div>
	 
</div>
	
	
{% endblock %}
