{% extends "layout.html" %}
{% block body %}

<h1>Events</h1>

{% if error %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <p class=error><strong>Error:</strong> {{ error }}</p>
</div>
{% endif %}



<div class="container">
	<h2>Events Page</h2>
		
		<div class="col-md-2">
			<form role="form" method = "post">
			
			  <div class="form-group">
			   <label for="where">Find an Event:</label>
			   <input type="text" class="form-control" id="where" placeholder="Enter address" name=where>
			   <input type="text" class="form-control" id="where" placeholder="Enter time" name=when>
			  </div>
			  
			  <button type="submit" class="btn btn-default">Search!</button>
			</form>
		</div>
</div>

<div class="container">		
		<h2>Events: {{eventname}}</h2>
		<div class = "container">
		{% for event in eventslist %}
		  <ul class="list-group">
			<li class="list-group-item">Description: {{event[0]}}</li>
			<li class="list-group-item">URL: <a href={{event[1]}}>Click Here!</a></li>        
			<li class="list-group-item">Where?: {{event[2]}}</li>
			<li class="list-group-item">When?: {{event[3]}}</li>
		</ul>
		</br>
		{% endfor %}
		</div>
</div>
	
	
{% endblock %}
